<table class="table">
    <thead>
        <th>
            <label>Riepilogo Mensile</label>
        </th>
    </thead>
    <tbody>
        <tr>
            <td><label>Ore di Lavoro:&nbsp;</label> <label [innerText]="oreDiLavoro"></label></td>
            <td><label>Giorni di malattia:&nbsp;</label> <label [innerText]="giorniDiMalattia"></label></td>
            <td><label>Giorni di Reperibilita:&nbsp;</label> <label [innerText]="giorniDiReperibilita"></label></td>
            <td><label>Permessi totali:&nbsp;</label> <label [innerText]="permessiTotali"></label></td>
            <td><label>Ore di R.O.L.:&nbsp;</label> <label [innerText]="oreDiRol"></label></td>
        </tr>
        <tr>
            <td><label>Giorni di lavoro:&nbsp;</label><label [innerText]="giorniDiLavoro"></label></td>
            <td><label>Giorni di ferie:&nbsp;</label> <label [innerText]="giorniDiFerie"></label></td>
            <td><label>Ore di intervento:&nbsp;</label> <label [innerText]="oreDiIntervento"></label></td>
            <td><label>Ore di permesso:&nbsp;</label> <label [innerText]="oreDiPermesso"></label></td>
            <td><label>Ore di Straordinario:&nbsp;</label> <label [innerText]="oreDiStraordinario"></label></td>
        </tr>
    </tbody>
</table>
